.ConatinerCart{
   padding: 0 0 20px 0;
min-height: 72vh;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
padding: 10px 10% 20px 10%;
display: flex;
flex-direction: column;
}

.MyCart{
   padding: 10px 10% 20px 10%;
    font-size: 20px;
}
.Cart{
    width: 750px;
    padding: 15px;
    border: 1px solid #cfcfcf;
    
}
.Title{
    padding-top: 20px;
    padding-bottom: 30px;
}
.CartPaper{
    padding-left: 40px;
}

.row{
    display: flex;
}

input{
    margin-left: 5px;
    height: 12px;
    width: 25px;
}

.DeleteIcon{
    margin-left: 180px;
}

.quantity {
    font: normal normal normal 14px/19px Roboto;
}



.heading{
    font-size: 20px;
    font-family: revert;
}

.Paper2{
    width: 100px;
    margin-left: 90px;
}

.cartitems{
    display: flex;
    width: 730px;
    padding: 10px;
    border: 0.5px solid #cfcfcf;
}

.cartitems2{
    display: flex;
    flex-direction: column;
}


.PlaceOrder{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 10px 0 10px;
}

#quantity{
    width: 30px;
}

.Details{
    width: 750px;
    height: 20px;
    padding: 15px;
    border: 1px solid #cfcfcf;
}

.openDetails{
    width: 730px;
    padding: 25px;
    border: 1px solid #cfcfcf;
    display: flex;
    flex-direction: column;
}




.takeinput{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    
}

.giveinput{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 10px 30px;
    
}

.InputFields{
    width: 300px;
    height: 50px;
}
.InputField{
    width: 300px;
    height: 50px;
    padding-left: 70px;
}



.left{
    width: 100%;
    padding: 0 0 20px 40px;
    display: flex;
    flex-direction: row;
}

.AddressBar{
    
    Width:520px ;
    padding: 10px 30px 20px 30px;
}


.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-family: monospace;
}
.image3{
    padding: 10px 20px 10px 50px;
    width: 109px;
    height: 135px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;

}
.space1{
    height: 20px;
}


.giveinputnew{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 10px 30px;

}

.cartitems {
    display: flex;
    align-items: flex-end;
}


.cartItemsSummery{
    display: flex;

}
.extra{
    display: flex;
    align-items: flex-end;
}